<h3>PasswordDataForm</h3>


<MudForm>


    <div class="d-flex justify-content-center">
        <div class="rounded-xl py-5 align-center align-content-center flex-grow-1 d-flex justify-space-between" style="background:#dfe4ff;">
            <MudText Align="Align.Start" GutterBottom="true" Typo="Typo.h6" Inline="true">Title</MudText>
            <MudSpacer />
            <MudTextField T="string" DisableUnderLine="false" Placeholder="password title" Required="true" Variant="Variant.Text" Text="@_title" />
        </div>
    </div>
    

</MudForm>