<h3>PasswordDataForm</h3>


<MudForm>


    <div class="d-flex justify-content-center">
        <div class="rounded-xl py-2 px-4 align-center align-content-center flex-grow-1 d-flex justify-content-center" style="background:#dfe4ff;max-width:500px">
            <MudTextField T="string" 
                DisableUnderLine="false" 
                Required="true" 
                Text="@_title"
                Adornment="Adornment.Start"
                AdornmentText="Title:"
                AdornmentAriaLabel="Identifying name of your password"/>
        </div>
    </div>
    

</MudForm>